<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>change password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        .pass_show{position: relative} 

        .pass_show .ptxt { 

        position: absolute; 

        top: 50%; 

        right: 10px; 

        z-index: 1; 

        color: #f36c01; 

        margin-top: -10px; 

        cursor: pointer; 

        transition: .3s ease all; 

        } 

        .pass_show .ptxt:hover{color: #333333;} 
    </style>
</head>
<body>
    
    <!------ Include the above in your HEAD tag ---------->
<div class="col-md-4  mt-5 mx-auto" >
    <h3>Change password</h3>    
    <div class="mt-5">
            <h4 class="text-primary">{{statusChangedPassword}}</h4>

            <form action="/handle-change-password" method="POST">
                <div class=" form-group">
                    <label>New Password</label>
                    <div class="form-group pass_show"> 
                        <input type="password" class="form-control" placeholder="New Password" name="newpassword"> 
                    </div> 
                        <label>Confirm Password</label>
                    <div class="form-group pass_show"> 
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword"> 
                    </div> 
                    <input type="submit" class=" btn btn-primary btn-load " data-loading-text="Changing Password..." value="Change Password" id="changepassword">
                    <a href="/" class="float-right mt-3">Back to home page</a>
                </div>  
            </form>
    </div>

</div>
  
    
    
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  
</script>
</html>