{% extends "frontend/layout.njk.html" %}

{% block content %}
<style>
    .blog-content #content img {

        height: auto !important;
    }
</style>
<div class="post-details-content bg-white mb-30 p-30 box-shadow">
        <!-- <div class="blog-thumb mb-30">
            <img src="img/bg-img/50.jpg" alt="">
        </div> -->
        <div class="blog-content">
            <div class="post-meta">
                <a href="#">{{post[0].created_at}}</a>
            </div>
            <h2 class="post-title">{{ post[0].title }}</h2>
            <!-- Post Meta -->
            <div class="post-meta-2">
                    
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{ views }}</a>
                
            </div>
            <div>
                    <h6>{{ post[0].description }}</h6>
            </div>
            <div id="content">
                {{ post[0].content | safe}}
            </div>
            <!-- Like Dislike Share -->
            <div class="fb-like" data-href="http://localhost:4444/contentpost?id=22" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

            <!-- Post Author -->
            <div class="post-author d-flex align-items-center">
                <div class="post-author-thumb">
                </div>
                <div class="post-author-desc pl-4">
                </div>
            </div>
        </div>
    </div>

    <!-- Related Post Area -->
            
    <!-- Comment Area Start -->
    <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>COMMENTS</h5>
        </div>
        <ol>
            {% for item in comments %}
            <!-- Single Comment Area -->
            <li class="single_comment_area" id="comment{{item.id}}">
                <!-- Comment Content -->
                <div class="comment-author">
                        <h6>{{item.username}}</h6>
                        <p>{{ item.created_at }}</p> 
                        {% if item.username == username %} 
                        <a href="#" class="float-right
                        deletecomment " id="{{item.id}}"><i class="fas fa-trash-alt "></i></a>
                        <a href="#" class="float-right mr-3 editcomment"  id="{{ item.id}}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                </div>
                <div class="comment-content d-flex ml-5">
                    <div class="comment-meta" id="contentcomment{{item.id}}">             
                        <p id="detai{{item.id}}">{{ item.content }}</p>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>

    <!-- Post A Comment Area -->
    <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>LEAVE A REPLY</h5>
        </div>

        <!-- Reply Form -->
        

        {% if username %}
        <div class="contact-form-area">
            <form action="/comment?idpost={{post[0].id}}&iduser={{post[0].id_user}}" method="post">
                <div class="row">
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message*" required></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn mag-btn mt-30 btn-info" type="submit">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>       
        {% else %}
        <h5>Login to comment</h5>
        {% endif %}
    </div>
    {% block footer %}
    <script type="text/javascript">
        $(function (){
            $('.editcomment').click(function() {
                let click = $(this);
                let idComment = click.attr( "id" );
                $('#contentcomment'+idComment).html('<textarea class="form-control bg-light border-1 small" rows="3" id="textarea'+idComment+'">' +$('#detai'+ idComment).html() + '</textarea>');
                     
                $('#textarea'+idComment).keypress(function(even) {
                    if (event.keyCode == 13) {
                        let contentComment = $('#textarea'+idComment).val();
                        $.ajax({
                                url: "/editcomment",
                                data: { content : contentComment,
                                        id      :idComment
                                },
                            type: 'POST',
                                success: function(result){
                                    $('#contentcomment'+idComment).html('<p>'+ result.content +'</p>');
                                }
                        });
                    }
                    
                })

            });

            $('.deletecomment').click(function() {
            let click = $(this);
            let idComment = click.attr( "id" );
                    $.ajax({
                        url: "/deletecomment",
                        data: { id:idComment },
                        type: 'POST',
                        success: function(result){
                            if (result) {
                                $('#comment'+idComment).hide();
                            }else{
                                alert('fail');
                            }
   
                
                        }
                    });
            });
        })
    </script>
    {% endblock %}
    
{% endblock %}