{% extends "frontend/layout.njk.html" %}
 
{% block content %}
  <div id="navbar"><span>Push.js Tutorial</span></div>
  <div id="wrapper">
      <button id="notify-button">Notify Me!!</button>
      <button id="clear-button">Clear All!</button>
      <button id="check-button">Check Permission</button>
  </div>
  <script src="push.js"></script>

  <script>
      $("#notify-button").click(function(){
        Push.create("Hello world!",{
            body: "This is example of Push.js Tutorial",
            icon: '/Logo_small.png',
            timeout: 2000,
            onClick: function () {
                window.focus();
                this.close();
            }
        });
      });
      $("#clear-button").click(function(){ 
           Push.clear();
      });
      $("#check-button").click(function(){ 
            console.log(Push.Permission.has());
      });
  </script>


{% endblock %}