{% extends "layout.njk.html" %}

{% block title %}
  Post
{% endblock %}

{% block content %}
<h1>This is Page Manager User</h1>
<div class="col-md-8 mx-auto mt-5">
<table class="table">
  <thead>
      <tr>
          <th>Id</th>
          <th>Fullname</th>
          <th>Address</th>
          <th>Email</th>
          <th>Role</th>
          <th>Username</th>
          <th colspan="3" width="3%" class="text-center">Action</th>
      </tr>
  </thead>
  <tbody>
      {% for item in users %}
      <tr id="row{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.fullname }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.username }}</td>
        <td>
        {% if item.role == 'user'%}
        <button class="btn btn-info btnappoint" id="{{ item.id }}">appoint is admin</button>
        {% endif %}
        </td>
        <td>
          <button class="btn btn-danger btnDelete" id="{{ item.id }}">Delete</button>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
{% block bottom %}
<script type="text/javascript">
    $(function () {
        $('.btnDelete').click(function() {
            let click = $(this);
            let idPost = click.attr( "id" );
            $.ajax({
                    url: "/admin/deleteuser",
                    data: { id:idPost },
                    type: 'POST',
                    success: function(result){
                        if (result) {
                        alert("success");
                        $('#row'+idPost).hide();
                        }else{
                        alert('fail');
                        }
                    }
            });
        });

        $('.btnappoint').click(function() {
            let click = $(this);
            let idPost = click.attr( "id" );
            $.ajax({
                    url: "/admin/appointuser",
                    data: { id:idPost },
                    type: 'POST',
                    success: function(result){
                        if (result) {
                        alert("appoint success");
                        window.location.reload(true)
                        }else{
                        alert('fail');
                        }
                
                    }
            });
        });
    })
</script>
{% endblock %}